In [1]:
import pandas as pd
import numpy as np
import datetime as dt

df = pd.read_csv("29286875.csv")

# change the column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
df.head(n=1)

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

,id,drone_type,post_type,package_weight,origin_region,destination_region,origin_latitude,origin_longitude,destination_latitude,destination_longitude,journey_distance,departure_date,departure_time,travel_time,delivery_time,delivery_fare
0,ID5174772222,2.0,1.0,43.632,47.0,3.0,-37.355446,145.140356,-36.683571,147.271147,203.61,2018-03-24,03:47:54,163.99,6:31:53,187.16

In [2]:
type(df.loc[1]['departure_date'])

str

In [3]:
# incorrect date format
incorrect_date_series = pd.to_datetime(df['departure_date'], format='%Y-%m-%d', errors='coerce')

# find out how many incorrect date format (total: 211)
print("There are", incorrect_date_series.isnull().sum(), "incorrect date format.")

There are 211 incorrect date format.

In [4]:
# extract year
df['year'] = df['departure_date'].str.split('-').str[0]

In [5]:
# extract month
df['month'] = df['departure_date'].str.split('-').str[1]

In [6]:
# extract day
df['day'] = df['departure_date'].str.split('-').str[2]

In [7]:
df

,id,drone_type,post_type,package_weight,origin_region,destination_region,origin_latitude,origin_longitude,destination_latitude,destination_longitude,journey_distance,departure_date,departure_time,travel_time,delivery_time,delivery_fare,year,month,day
0,ID5174772222,2.0,1.0,43.632,47.0,3.0,-37.355446,145.140356,-36.683571,147.271147,203.610,2018-03-24,03:47:54,163.99,6:31:53,187.16,2018,03,24
1,ID1302741470,2.0,0.0,14.230,42.0,45.0,-38.029425,146.072856,-38.880642,145.089798,127.756,2018-04-01,19:00:04,105.65,20:45:43,132.04,2018,04,01
2,ID1271333154,1.0,0.0,31.700,19.0,8.0,-38.467031,144.056414,-37.882256,147.344381,294.983,2018-04-27,01:05:05,240.38,5:05:27,122.90,2018,04,27
3,ID5399258418,2.0,1.0,11.500,7.0,48.0,-37.594913,147.765656,-38.942574,146.852666,169.915,2018-04-11,16:12:11,138.08,18:30:15,170.52,2018,04,11
4,ID5288620287,1.0,1.0,14.545,28.0,4.0,-37.234915,144.722604,-37.682460,145.132520,61.595,2018-06-07,01:14:37,56.13,2:10:44,139.68,2018,06,07
5,ID5993957587,2.0,1.0,33.332,9.0,24.0,-36.814897,144.334465,-38.966256,143.372101,253.963,2018-04-21,01:42:57,202.73,5:05:40,190.62,2018,04,21
6,ID1175666777,3.0,0.0,14.360,34.0,46.0,-38.694757,144.574710,-37.414616,145.765778,176.649,2018-02-18,08:23:32,141.38,10:44:54,155.92,2018,02,18
7,ID1247377835,1.0,0.0,16.681,21.0,4.0,-38.511416,148.229283,-37.934283,144.996650,289.890,2018-05-08,12:55:01,236.36,16:51:22,108.36,2018,05,08
8,ID1727276208,1.0,0.0,7.631,21.0,4.0,-38.669030,147.959281,-37.785768,144.938933,281.808,2018-06-20,05:23:21,229.98,9:13:19,119.50,2018,06,20
9,ID1656980587,1.0,0.0,41.862,33.0,24.0,-36.575290,143.945037,-38.903490,143.211961,267.079,2018-05-17,09:23:21,218.35,13:01:41,83.82,2018,05,17
10,ID1229281063,3.0,0.0,36.585,40.0,18.0,-38.131144,147.937330,-38.907359,144.012057,352.587,2018-03-23,02:30:20,275.00,7:05:20,201.81,2018,03,23
11,ID1430032672,3.0,0.0,44.666,7.0,43.0,-37.443194,147.796298,-38.065081,144.858493,267.656,2018-02-24,01:12:03,210.50,4:42:33,199.03,2018,02,24
12,ID1422704796,1.0,0.0,33.833,39.0,15.0,-36.600640,145.855849,-38.053912,143.384933,272.028,2018-07-13,22:42:30,222.26,2:24:45,121.98,2018,07,13
13,ID1814710120,3.0,0.0,22.782,5.0,19.0,-36.897139,146.128542,-38.479546,144.109594,250.305,2018-07-27,08:54:12,197.32,12:11:31,158.61,2018,07,27
14,ID1144987939,2.0,0.0,23.153,10.0,41.0,-36.745948,147.879398,-38.146925,142.908804,466.072,2018-04-02,18:04:40,365.89,0:10:33,156.55,2018,04,02
15,ID1639996043,1.0,0.0,39.888,48.0,12.0,-38.969324,147.020365,-37.506954,143.204698,371.170,2018-04-01,11:51:04,300.53,16:51:35,96.35,2018,04,01
16,ID1589940287,2.0,0.0,42.803,12.0,25.0,-37.626460,143.160095,-37.768288,145.754603,229.061,2018-01-10,18:49:45,183.57,21:53:19,140.64,2018,01,10
17,ID1700086850,1.0,0.0,40.017,12.0,49.0,-37.594545,143.097470,-38.276013,143.786223,97.011,2018-05-03,07:44:34,84.09,9:08:39,75.18,2018,05,03
18,ID1816080840,3.0,0.0,41.875,14.0,45.0,-37.251321,146.656823,-38.979117,145.069270,237.317,2018-07-06,01:14:50,187.46,4:22:17,192.77,2018,07,06
19,ID5188568054,1.0,1.0,42.657,46.0,39.0,-37.234876,145.879212,-36.523866,145.699468,80.749,2018-04-27,18:17:19,71.25,19:28:34,121.17,2018,04,27
20,ID1693500629,1.0,0.0,30.022,46.0,45.0,-37.164073,145.679463,-38.898297,145.204466,197.489,2018-05-09,13:08:24,163.41,15:51:48,97.98,2018,05,09
21,ID5483031848,2.0,1.0,41.371,20.0,37.0,-38.352655,146.411445,-36.642337,146.362691,190.436,2018-05-12,18:29:20,153.86,21:03:11,170.95,2018,05,12
22,ID5902904752,3.0,1.0,6.951,31.0,45.0,-36.703164,148.134965,-38.858697,145.186198,353.345,2018-01-11,20:35:54,275.58,1:11:28,224.27,2018,01,11
23,ID1133610304,1.0,0.0,35.364,33.0,15.0,-36.577901,143.726564,-37.963910,143.319938,158.435,2018-04-10,01:24:44,132.58,3:37:18,113.32,2018,04,10
24,ID1388702296,1.0,0.0,19.875,4.0,24.0,-37.692200,144.965438,-38.860640,143.226976,199.985,2018-07-13,17:00:08,165.38,19:45:30,98.44,2018,07,13
25,ID1936333571,1.0,0.0,42.657,48.0,7.0,-38.796754,146.893037,-37.548817,147.628529,153.102,2018-03-13,08:14:05,128.37,10:22:27,84.13,2018,03,13
26,ID1369982920,1.0,0.0,6.635,30.0,25.0,-38.504116,143.250021,-37.631763,145.646796,231.398,2018-03-07,00:33:50,190.18,3:44:00,115.12,2018,03,07
27,ID5871196450,3.0,1.0,32.778,41.0,40.0,-38.048797,142.827650,-38.195071,147.655284,423.036,2018-07-05,07:35:56,328.51,13:04:26,212.53,2018,07,05
28,ID5876881006,3.0,1.0,18.442,30.0,4.0,-38.643890,143.128489,-37.711192,145.055515,198.020,2018-05-17,19:54:16,157.61,22:31:52,204.13,2018,05,17
29,ID5229082212,1.0,1.0,12.185,19.0,15.0,-38.413642,144.233445,-37.928076,143.380033,92.192,2018-02-19,20:05:15,80.28,21:25:31,126.27,2018,02,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39083,NaN,2.0,1.0,45.659,31.0,38.0,-36.786683,148.358368,-38.994020,147.564593,255.414,2018-03-26,08:54:45,203.84,12:18:35,160.17,2018,03,26
39084,NaN,2.0,0.0,52.883,3.0,10.0,-36.553526,147.380237,-36.582356,147.861928,43.185,2018-02-11,20:51:18,40.59,21:31:53,201.16,2018,02,11
39085,ID1808405020,2.0,0.0,14.292,48.0,44.0,-38.851248,146.947241,-36.892103,147.333852,220.716,2018-01-12,14:43:01,177.15,17:40:10,134.31,2018,01,12
39086,ID1981588347,3.0,0.0,42.354,49.0,49.0,-38.248567,143.582063,-38.216528,143.490395,8.773,2018-04-10,05:28:09,13.88,5:42:01,170.26,2018,04,10
39087,ID1852942304,1.0,0.0,14.525,1.0,30.0,-38.382072,145.283777,-38.554625,143.087968,192.335,2018-03-25,00:16:35,159.34,2:55:55,113.42,2018,03,25
39088,NaN,2.0,0.0,36.948,7.0,28.0,-37.396605,147.763582,-37.150497,144.420712,297.363,2018-01-23,15:24:23,236.11,19:20:29,148.37,2018,01,23
39089,NaN,2.0,0.0,20.302,38.0,49.0,-38.993133,147.308400,-38.219451,143.658456,328.951,2018-01-28,06:40:51,260.41,11:01:15,131.72,2018,01,28
39090,NaN,2.0,0.0,5.659,21.0,2.0,-38.665408,148.150719,-37.012339,143.548243,444.416,2018-03-01,08:29:35,349.23,14:18:48,144.97,2018,03,01
39091,NaN,1.0,0.0,31.260,44.0,34.0,-36.978581,147.188853,-38.548107,144.729877,278.102,2018-05-24,01:13:22,227.05,5:00:25,126.77,2018,05,24
39092,ID1441436990,1.0,0.0,30.637,48.0,45.0,-38.841315,146.966196,-38.987929,145.102386,162.252,2018-06-28,13:46:25,135.59,16:02:00,102.02,2018,06,28
39093,NaN,2.0,0.0,9.292,28.0,46.0,-37.073096,144.572825,-37.273451,145.684967,101.135,2018-04-03,17:31:04,85.17,18:56:14,126.99,2018,04,03
39094,NaN,1.0,1.0,7.187,45.0,9.0,-39.005044,144.920018,-36.745070,144.333425,256.798,2018-03-24,01:27:22,210.23,4:57:35,151.88,2018,03,24
39095,ID5190254409,1.0,1.0,14.354,33.0,8.0,-36.661443,143.740064,-37.921522,147.184127,335.683,2018-06-05,15:47:46,272.51,20:20:16,138.50,2018,06,05
39096,NaN,1.0,0.0,44.714,34.0,11.0,-38.673199,144.543470,-37.871408,144.061367,98.697,2018-01-15,18:08:41,85.42,19:34:06,92.23,2018,01,15
39097,ID1983083322,3.0,0.0,43.591,4.0,9.0,-37.776747,145.163297,-36.777164,144.516377,125.158,2018-02-11,22:47:34,102.27,0:29:50,186.75,2018,02,11
39098,ID1314059119,1.0,0.0,14.472,32.0,24.0,-37.324911,144.064789,-38.966256,143.437232,190.789,2018-02-02,13:43:48,158.12,16:21:55,99.57,2018,02,02
39099,ID1320771132,2.0,0.0,42.120,45.0,46.0,-38.837537,145.207474,-37.266695,145.871601,184.296,2018-01-26,15:13:49,149.14,17:42:57,136.37,2018,01,26
39100,ID1258600582,1.0,0.0,5.143,10.0,47.0,-36.673197,147.696826,-37.562826,144.989465,259.907,2018-06-24,11:49:46,212.69,15:22:27,90.27,2018,06,24
39101,NaN,2.0,1.0,29.509,29.0,46.0,-37.416182,148.369018,-37.303939,145.645094,241.325,2018-02-11,02:30:52,193.01,5:43:52,190.68,2018,02,11
39102,ID1467220902,3.0,0.0,40.650,49.0,27.0,-38.314837,143.678639,-38.796300,146.415416,244.181,2018-01-10,19:28:31,192.67,22:41:11,177.37,2018,01,10
39103,NaN,2.0,0.0,8.102,15.0,17.0,-38.040205,143.453953,-37.088197,145.408862,202.442,2018-03-27,14:40:45,163.10,17:23:50,135.41,2018,03,27
39104,ID1233384783,1.0,0.0,20.208,36.0,25.0,-37.468151,146.691423,-37.703348,145.633240,96.946,2018-06-25,08:56:35,84.04,10:20:37,79.98,2018,06,25
39105,NaN,1.0,1.0,39.785,12.0,29.0,-37.476126,142.944007,-37.351112,148.034551,450.245,2018-03-08,19:21:52,362.96,1:24:49,158.94,2018,03,08
39106,NaN,1.0,0.0,39.698,48.0,3.0,-38.840722,146.784047,-36.647890,147.274896,247.893,2018-06-11,14:48:10,203.20,18:11:21,110.64,2018,06,11
39107,ID1927939031,1.0,0.0,24.704,25.0,50.0,-37.767926,145.627710,-38.924650,142.796896,278.652,2018-03-03,12:24:43,227.49,16:12:12,110.15,2018,03,03
39108,ID1164150997,2.0,0.0,40.174,5.0,6.0,-36.896320,145.965648,-37.640343,146.196588,85.312,2018-04-18,10:04:35,73.00,11:17:35,115.41,2018,04,18
39109,ID5421234552,2.0,1.0,34.871,29.0,44.0,-37.331022,148.212160,-36.826330,147.283740,99.773,2018-02-17,20:05:32,84.12,21:29:39,165.43,2018,02,17
39110,ID1918590566,3.0,0.0,25.669,9.0,5.0,-36.793014,144.315626,-36.918182,145.903194,142.088,2018-02-20,18:06:29,115.13,20:01:36,171.88,2018,02,20
39111,NaN,1.0,1.0,34.102,26.0,45.0,-37.953956,148.363535,-38.988100,145.213628,297.660,2018-02-19,12:17:33,242.49,16:20:02,143.08,2018,02,19
39112,NaN,3.0,0.0,43.956,9.0,30.0,-36.745070,144.333425,-38.421277,143.251229,209.590,2018-07-21,20:57:26,166.40,23:43:50,175.26,2018,07,21

In [8]:
# 
df.loc[(df['month'] == '02') & (df['day'] == '30'), ['departure_date']] = '2018-02-28'
df.loc[(df['month'] == '04') & (df['day'] == '31'), ['departure_date']] = '2018-04-30'
df.loc[(df['month'] == '06') & (df['day'] == '31'), ['departure_date']] = '2018-06-30'
df.loc[(df['month'] == '09') & (df['day'] == '31'), ['departure_date']] = '2018-09-30'
df.loc[(df['month'] == '11') & (df['day'] == '31'), ['departure_date']] = '2018-11-30'
df.loc[df['month'] > '12', ['departure_date']] = (df['year'] + '-' + df['day'] + '-' + df['month'])

In [9]:
# # check
# df.loc[(df['month'] == '02') & (df['day'] == '30')]
# df.loc[(df['month'] == '04') & (df['day'] == '31')]
# df.loc[(df['month'] == '06') & (df['day'] == '31')]
# df.loc[(df['month'] == '09') & (df['day'] == '31')]
# df.loc[(df['month'] == '11') & (df['day'] == '31')]
# df.loc[df['month'] > '12']

In [10]:
# incorrect date format
correct_date_series = pd.to_datetime(df['departure_date'], format='%Y-%m-%d', errors='coerce')

# find out how many incorrect date format (total: 211)
print("There is", correct_date_series.isnull().sum(), "incorrect date format.")

There is 0 incorrect date format.

### datetime

In [11]:
# import pandas as pd
# from datetime import datetime

# ps = pd.Series([datetime(2014, 1, 7), datetime(2014, 3, 13), datetime(2014, 6, 12)])
# new = ps.apply(lambda dt: dt.replace(day=28))
# new
# # type(pd.to_datetime(df['departure_date'], format='%Y-%d-%m', errors='ignore'))
# # type(df.departure_date.apply(str))
# # type(ps)

pandas.core.series.Series

In [14]:
# date_series

In [11]:
# df['y_m_d'] = pd.to_datetime(df['departure_date'], format='%Y-%m-%d', errors='coerce')
# df['y_m_d'] = np.where(df['y_m_d'].isnull(), pd.to_datetime(df['departure_date'], format='%Y-%d-%m', errors='coerce'), df['y_m_d'])

# df['departure_date'] = np.where(df['departure_date'].notnull(), df['y_m_d'], df['departure_date'])

# # date_series = pd.to_datetime(df['departure_date'], format='%Y-%d-%m', errors='ignore')
# # df['y_m_d'] = np.where(df['y_m_d'].isnull(), date_series.apply(lambda d: datetime.strptime(d, '%Y-%d-%m').replace(day=28)), df['y_m_d'])
# df

,id,drone_type,post_type,package_weight,origin_region,destination_region,origin_latitude,origin_longitude,destination_latitude,destination_longitude,journey_distance,departure_date,departure_time,travel_time,delivery_time,delivery_fare,year,month,day,y_m_d
0,ID5174772222,2.0,1.0,43.632,47.0,3.0,-37.355446,145.140356,-36.683571,147.271147,203.610,1521849600000000000,03:47:54,163.99,6:31:53,187.16,2018,03,24,2018-03-24
1,ID1302741470,2.0,0.0,14.230,42.0,45.0,-38.029425,146.072856,-38.880642,145.089798,127.756,1522540800000000000,19:00:04,105.65,20:45:43,132.04,2018,04,01,2018-04-01
2,ID1271333154,1.0,0.0,31.700,19.0,8.0,-38.467031,144.056414,-37.882256,147.344381,294.983,1524787200000000000,01:05:05,240.38,5:05:27,122.90,2018,04,27,2018-04-27
3,ID5399258418,2.0,1.0,11.500,7.0,48.0,-37.594913,147.765656,-38.942574,146.852666,169.915,1523404800000000000,16:12:11,138.08,18:30:15,170.52,2018,04,11,2018-04-11
4,ID5288620287,1.0,1.0,14.545,28.0,4.0,-37.234915,144.722604,-37.682460,145.132520,61.595,1528329600000000000,01:14:37,56.13,2:10:44,139.68,2018,06,07,2018-06-07
5,ID5993957587,2.0,1.0,33.332,9.0,24.0,-36.814897,144.334465,-38.966256,143.372101,253.963,1524268800000000000,01:42:57,202.73,5:05:40,190.62,2018,04,21,2018-04-21
6,ID1175666777,3.0,0.0,14.360,34.0,46.0,-38.694757,144.574710,-37.414616,145.765778,176.649,1518912000000000000,08:23:32,141.38,10:44:54,155.92,2018,02,18,2018-02-18
7,ID1247377835,1.0,0.0,16.681,21.0,4.0,-38.511416,148.229283,-37.934283,144.996650,289.890,1525737600000000000,12:55:01,236.36,16:51:22,108.36,2018,05,08,2018-05-08
8,ID1727276208,1.0,0.0,7.631,21.0,4.0,-38.669030,147.959281,-37.785768,144.938933,281.808,1529452800000000000,05:23:21,229.98,9:13:19,119.50,2018,06,20,2018-06-20
9,ID1656980587,1.0,0.0,41.862,33.0,24.0,-36.575290,143.945037,-38.903490,143.211961,267.079,1526515200000000000,09:23:21,218.35,13:01:41,83.82,2018,05,17,2018-05-17
10,ID1229281063,3.0,0.0,36.585,40.0,18.0,-38.131144,147.937330,-38.907359,144.012057,352.587,1521763200000000000,02:30:20,275.00,7:05:20,201.81,2018,03,23,2018-03-23
11,ID1430032672,3.0,0.0,44.666,7.0,43.0,-37.443194,147.796298,-38.065081,144.858493,267.656,1519430400000000000,01:12:03,210.50,4:42:33,199.03,2018,02,24,2018-02-24
12,ID1422704796,1.0,0.0,33.833,39.0,15.0,-36.600640,145.855849,-38.053912,143.384933,272.028,1531440000000000000,22:42:30,222.26,2:24:45,121.98,2018,07,13,2018-07-13
13,ID1814710120,3.0,0.0,22.782,5.0,19.0,-36.897139,146.128542,-38.479546,144.109594,250.305,1532649600000000000,08:54:12,197.32,12:11:31,158.61,2018,07,27,2018-07-27
14,ID1144987939,2.0,0.0,23.153,10.0,41.0,-36.745948,147.879398,-38.146925,142.908804,466.072,1522627200000000000,18:04:40,365.89,0:10:33,156.55,2018,04,02,2018-04-02
15,ID1639996043,1.0,0.0,39.888,48.0,12.0,-38.969324,147.020365,-37.506954,143.204698,371.170,1522540800000000000,11:51:04,300.53,16:51:35,96.35,2018,04,01,2018-04-01
16,ID1589940287,2.0,0.0,42.803,12.0,25.0,-37.626460,143.160095,-37.768288,145.754603,229.061,1515542400000000000,18:49:45,183.57,21:53:19,140.64,2018,01,10,2018-01-10
17,ID1700086850,1.0,0.0,40.017,12.0,49.0,-37.594545,143.097470,-38.276013,143.786223,97.011,1525305600000000000,07:44:34,84.09,9:08:39,75.18,2018,05,03,2018-05-03
18,ID1816080840,3.0,0.0,41.875,14.0,45.0,-37.251321,146.656823,-38.979117,145.069270,237.317,1530835200000000000,01:14:50,187.46,4:22:17,192.77,2018,07,06,2018-07-06
19,ID5188568054,1.0,1.0,42.657,46.0,39.0,-37.234876,145.879212,-36.523866,145.699468,80.749,1524787200000000000,18:17:19,71.25,19:28:34,121.17,2018,04,27,2018-04-27
20,ID1693500629,1.0,0.0,30.022,46.0,45.0,-37.164073,145.679463,-38.898297,145.204466,197.489,1525824000000000000,13:08:24,163.41,15:51:48,97.98,2018,05,09,2018-05-09
21,ID5483031848,2.0,1.0,41.371,20.0,37.0,-38.352655,146.411445,-36.642337,146.362691,190.436,1526083200000000000,18:29:20,153.86,21:03:11,170.95,2018,05,12,2018-05-12
22,ID5902904752,3.0,1.0,6.951,31.0,45.0,-36.703164,148.134965,-38.858697,145.186198,353.345,1515628800000000000,20:35:54,275.58,1:11:28,224.27,2018,01,11,2018-01-11
23,ID1133610304,1.0,0.0,35.364,33.0,15.0,-36.577901,143.726564,-37.963910,143.319938,158.435,1523318400000000000,01:24:44,132.58,3:37:18,113.32,2018,04,10,2018-04-10
24,ID1388702296,1.0,0.0,19.875,4.0,24.0,-37.692200,144.965438,-38.860640,143.226976,199.985,1531440000000000000,17:00:08,165.38,19:45:30,98.44,2018,07,13,2018-07-13
25,ID1936333571,1.0,0.0,42.657,48.0,7.0,-38.796754,146.893037,-37.548817,147.628529,153.102,1520899200000000000,08:14:05,128.37,10:22:27,84.13,2018,03,13,2018-03-13
26,ID1369982920,1.0,0.0,6.635,30.0,25.0,-38.504116,143.250021,-37.631763,145.646796,231.398,1520380800000000000,00:33:50,190.18,3:44:00,115.12,2018,03,07,2018-03-07
27,ID5871196450,3.0,1.0,32.778,41.0,40.0,-38.048797,142.827650,-38.195071,147.655284,423.036,1530748800000000000,07:35:56,328.51,13:04:26,212.53,2018,07,05,2018-07-05
28,ID5876881006,3.0,1.0,18.442,30.0,4.0,-38.643890,143.128489,-37.711192,145.055515,198.020,1526515200000000000,19:54:16,157.61,22:31:52,204.13,2018,05,17,2018-05-17
29,ID5229082212,1.0,1.0,12.185,19.0,15.0,-38.413642,144.233445,-37.928076,143.380033,92.192,1518998400000000000,20:05:15,80.28,21:25:31,126.27,2018,02,19,2018-02-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39083,NaN,2.0,1.0,45.659,31.0,38.0,-36.786683,148.358368,-38.994020,147.564593,255.414,1522022400000000000,08:54:45,203.84,12:18:35,160.17,2018,03,26,2018-03-26
39084,NaN,2.0,0.0,52.883,3.0,10.0,-36.553526,147.380237,-36.582356,147.861928,43.185,1518307200000000000,20:51:18,40.59,21:31:53,201.16,2018,02,11,2018-02-11
39085,ID1808405020,2.0,0.0,14.292,48.0,44.0,-38.851248,146.947241,-36.892103,147.333852,220.716,1515715200000000000,14:43:01,177.15,17:40:10,134.31,2018,01,12,2018-01-12
39086,ID1981588347,3.0,0.0,42.354,49.0,49.0,-38.248567,143.582063,-38.216528,143.490395,8.773,1523318400000000000,05:28:09,13.88,5:42:01,170.26,2018,04,10,2018-04-10
39087,ID1852942304,1.0,0.0,14.525,1.0,30.0,-38.382072,145.283777,-38.554625,143.087968,192.335,1521936000000000000,00:16:35,159.34,2:55:55,113.42,2018,03,25,2018-03-25
39088,NaN,2.0,0.0,36.948,7.0,28.0,-37.396605,147.763582,-37.150497,144.420712,297.363,1516665600000000000,15:24:23,236.11,19:20:29,148.37,2018,01,23,2018-01-23
39089,NaN,2.0,0.0,20.302,38.0,49.0,-38.993133,147.308400,-38.219451,143.658456,328.951,1517097600000000000,06:40:51,260.41,11:01:15,131.72,2018,01,28,2018-01-28
39090,NaN,2.0,0.0,5.659,21.0,2.0,-38.665408,148.150719,-37.012339,143.548243,444.416,1519862400000000000,08:29:35,349.23,14:18:48,144.97,2018,03,01,2018-03-01
39091,NaN,1.0,0.0,31.260,44.0,34.0,-36.978581,147.188853,-38.548107,144.729877,278.102,1527120000000000000,01:13:22,227.05,5:00:25,126.77,2018,05,24,2018-05-24
39092,ID1441436990,1.0,0.0,30.637,48.0,45.0,-38.841315,146.966196,-38.987929,145.102386,162.252,1530144000000000000,13:46:25,135.59,16:02:00,102.02,2018,06,28,2018-06-28
39093,NaN,2.0,0.0,9.292,28.0,46.0,-37.073096,144.572825,-37.273451,145.684967,101.135,1522713600000000000,17:31:04,85.17,18:56:14,126.99,2018,04,03,2018-04-03
39094,NaN,1.0,1.0,7.187,45.0,9.0,-39.005044,144.920018,-36.745070,144.333425,256.798,1521849600000000000,01:27:22,210.23,4:57:35,151.88,2018,03,24,2018-03-24
39095,ID5190254409,1.0,1.0,14.354,33.0,8.0,-36.661443,143.740064,-37.921522,147.184127,335.683,1528156800000000000,15:47:46,272.51,20:20:16,138.50,2018,06,05,2018-06-05
39096,NaN,1.0,0.0,44.714,34.0,11.0,-38.673199,144.543470,-37.871408,144.061367,98.697,1515974400000000000,18:08:41,85.42,19:34:06,92.23,2018,01,15,2018-01-15
39097,ID1983083322,3.0,0.0,43.591,4.0,9.0,-37.776747,145.163297,-36.777164,144.516377,125.158,1518307200000000000,22:47:34,102.27,0:29:50,186.75,2018,02,11,2018-02-11
39098,ID1314059119,1.0,0.0,14.472,32.0,24.0,-37.324911,144.064789,-38.966256,143.437232,190.789,1517529600000000000,13:43:48,158.12,16:21:55,99.57,2018,02,02,2018-02-02
39099,ID1320771132,2.0,0.0,42.120,45.0,46.0,-38.837537,145.207474,-37.266695,145.871601,184.296,1516924800000000000,15:13:49,149.14,17:42:57,136.37,2018,01,26,2018-01-26
39100,ID1258600582,1.0,0.0,5.143,10.0,47.0,-36.673197,147.696826,-37.562826,144.989465,259.907,1529798400000000000,11:49:46,212.69,15:22:27,90.27,2018,06,24,2018-06-24
39101,NaN,2.0,1.0,29.509,29.0,46.0,-37.416182,148.369018,-37.303939,145.645094,241.325,1518307200000000000,02:30:52,193.01,5:43:52,190.68,2018,02,11,2018-02-11
39102,ID1467220902,3.0,0.0,40.650,49.0,27.0,-38.314837,143.678639,-38.796300,146.415416,244.181,1515542400000000000,19:28:31,192.67,22:41:11,177.37,2018,01,10,2018-01-10
39103,NaN,2.0,0.0,8.102,15.0,17.0,-38.040205,143.453953,-37.088197,145.408862,202.442,1522108800000000000,14:40:45,163.10,17:23:50,135.41,2018,03,27,2018-03-27
39104,ID1233384783,1.0,0.0,20.208,36.0,25.0,-37.468151,146.691423,-37.703348,145.633240,96.946,1529884800000000000,08:56:35,84.04,10:20:37,79.98,2018,06,25,2018-06-25
39105,NaN,1.0,1.0,39.785,12.0,29.0,-37.476126,142.944007,-37.351112,148.034551,450.245,1520467200000000000,19:21:52,362.96,1:24:49,158.94,2018,03,08,2018-03-08
39106,NaN,1.0,0.0,39.698,48.0,3.0,-38.840722,146.784047,-36.647890,147.274896,247.893,1528675200000000000,14:48:10,203.20,18:11:21,110.64,2018,06,11,2018-06-11
39107,ID1927939031,1.0,0.0,24.704,25.0,50.0,-37.767926,145.627710,-38.924650,142.796896,278.652,1520035200000000000,12:24:43,227.49,16:12:12,110.15,2018,03,03,2018-03-03
39108,ID1164150997,2.0,0.0,40.174,5.0,6.0,-36.896320,145.965648,-37.640343,146.196588,85.312,1524009600000000000,10:04:35,73.00,11:17:35,115.41,2018,04,18,2018-04-18
39109,ID5421234552,2.0,1.0,34.871,29.0,44.0,-37.331022,148.212160,-36.826330,147.283740,99.773,1518825600000000000,20:05:32,84.12,21:29:39,165.43,2018,02,17,2018-02-17
39110,ID1918590566,3.0,0.0,25.669,9.0,5.0,-36.793014,144.315626,-36.918182,145.903194,142.088,1519084800000000000,18:06:29,115.13,20:01:36,171.88,2018,02,20,2018-02-20
39111,NaN,1.0,1.0,34.102,26.0,45.0,-37.953956,148.363535,-38.988100,145.213628,297.660,1518998400000000000,12:17:33,242.49,16:20:02,143.08,2018,02,19,2018-02-19
39112,NaN,3.0,0.0,43.956,9.0,30.0,-36.745070,144.333425,-38.421277,143.251229,209.590,1532131200000000000,20:57:26,166.40,23:43:50,175.26,2018,07,21,2018-07-21

In [9]:
# # find out how many incorrect date format (total: 211)
# departure_date_series.isnull().sum()

0

In [4]:
# # convert the series to a list
# departure_date_list = departure_date_series.tolist()

In [5]:
# df_copy = df.copy()
# date_df = pd.DataFrame(df_copy[['departure_date']], columns=['departure_date'])
# date_df

      departure_date
0         2018-03-24
1         2018-04-01
2         2018-04-27
3         2018-04-11
4         2018-06-07
5         2018-04-21
6         2018-02-18
7         2018-05-08
8         2018-06-20
9         2018-05-17
10        2018-03-23
11        2018-02-24
12        2018-07-13
13        2018-07-27
14        2018-04-02
15        2018-04-01
16        2018-01-10
17        2018-05-03
18        2018-07-06
19        2018-04-27
20        2018-05-09
21        2018-05-12
22        2018-01-11
23        2018-04-10
24        2018-07-13
25        2018-03-13
26        2018-03-07
27        2018-07-05
28        2018-05-17
29        2018-02-19
...              ...
39083     2018-03-26
39084     2018-02-11
39085     2018-01-12
39086     2018-04-10
39087     2018-03-25
39088     2018-01-23
39089     2018-01-28
39090     2018-03-01
39091     2018-05-24
39092     2018-06-28
39093     2018-04-03
39094     2018-03-24
39095     2018-06-05
39096     2018-01-15
39097     2018-02-11
39098     2018-02-02
39099     2018-01-26
39100     2018-06-24
39101     2018-02-11
39102     2018-01-10
39103     2018-03-27
39104     2018-06-25
39105     2018-03-08
39106     2018-06-11
39107     2018-03-03
39108     2018-04-18
39109     2018-02-17
39110     2018-02-20
39111     2018-02-19
39112     2018-07-21

[39113 rows x 1 columns]

In [6]:
# # add the list into data frame (date_df) and name it 'wrong_format_date'
# date_df['wrong_format_date'] = pd.Series(departure_date_list, index=date_df.index)

In [7]:
# # get NaN values
# null_df = pd.DataFrame(date_df[date_df['wrong_format_date'].isnull()])

In [8]:
# null_df

      departure_date wrong_format_date
856       2018-22-03               NaT
923       2018-25-03               NaT
931       2018-26-06               NaT
947       2018-23-06               NaT
984       2018-14-02               NaT
1028      2018-16-03               NaT
1286      2018-06-31               NaT
1299      2018-06-31               NaT
1357      2018-06-31               NaT
1387      2018-02-30               NaT
3036      2018-28-06               NaT
3043      2018-14-05               NaT
3120      2018-26-05               NaT
3142      2018-27-06               NaT
3233      2018-24-03               NaT
3272      2018-04-31               NaT
3303      2018-06-31               NaT
3360      2018-02-30               NaT
3469      2018-04-31               NaT
3634      2018-02-30               NaT
4069      2018-06-31               NaT
5020      2018-28-04               NaT
5082      2018-04-31               NaT
5139      2018-28-07               NaT
5338      2018-04-31               NaT
5340      2018-02-30               NaT
5348      2018-06-31               NaT
5389      2018-04-31               NaT
5412      2018-06-31               NaT
5425      2018-04-31               NaT
...              ...               ...
31583     2018-13-05               NaT
31584     2018-15-07               NaT
31609     2018-06-31               NaT
31697     2018-21-01               NaT
31750     2018-17-02               NaT
31906     2018-27-06               NaT
32158     2018-06-31               NaT
32172     2018-06-31               NaT
33637     2018-23-04               NaT
33781     2018-18-07               NaT
33987     2018-04-31               NaT
34100     2018-06-31               NaT
34153     2018-04-31               NaT
34176     2018-02-30               NaT
34182     2018-04-31               NaT
34342     2018-06-31               NaT
35001     2018-25-05               NaT
35940     2018-28-02               NaT
35943     2018-18-05               NaT
35986     2018-25-02               NaT
36023     2018-23-04               NaT
36032     2018-02-30               NaT
36152     2018-04-31               NaT
37754     2018-06-31               NaT
37952     2018-15-01               NaT
37992     2018-14-05               NaT
38021     2018-23-02               NaT
38093     2018-06-31               NaT
38153     2018-06-31               NaT
38297     2018-02-30               NaT

[211 rows x 2 columns]

In [12]:
# # convert series to datetime
# null_df['departure_date'] = pd.to_datetime(null_df['departure_date'], format='%Y-%d-%m', errors='coerce')

# # drop the unused column
# null_df.drop(null_df[['wrong_format_date']], axis=1, inplace=True)

# # remove NaT
# month_day_df = null_df.dropna()

# month_day_df

KeyError: "['wrong_format_date'] not in index"

In [14]:
# month_day_df['departure_date'].dtype

dtype('<M8[ns]')

In [15]:
# df['departure_date'].dtype

dtype('O')

In [10]:
# df.update(month_day_df)
# # df = df.combine_first(month_day_df)
# # df

In [11]:
# df.loc[856]['departure_date']

1521676800000000000

In [16]:
# # way1
# null_df['departure_date'] = pd.to_datetime(null_df['departure_date'], format='%Y-%d-%m', errors='coerce')
# null_df['year'], null_df['month'], null_df['day'] = null_df['departure_date'].dt.year, null_df['departure_date'].dt.month, null_df['departure_date'].dt.day
# null_df

      departure_date wrong_format_date    year  month   day
856       2018-03-22               NaT  2018.0    3.0  22.0
923       2018-03-25               NaT  2018.0    3.0  25.0
931       2018-06-26               NaT  2018.0    6.0  26.0
947       2018-06-23               NaT  2018.0    6.0  23.0
984       2018-02-14               NaT  2018.0    2.0  14.0
1028      2018-03-16               NaT  2018.0    3.0  16.0
1286             NaT               NaT     NaN    NaN   NaN
1299             NaT               NaT     NaN    NaN   NaN
1357             NaT               NaT     NaN    NaN   NaN
1387             NaT               NaT     NaN    NaN   NaN
3036      2018-06-28               NaT  2018.0    6.0  28.0
3043      2018-05-14               NaT  2018.0    5.0  14.0
3120      2018-05-26               NaT  2018.0    5.0  26.0
3142      2018-06-27               NaT  2018.0    6.0  27.0
3233      2018-03-24               NaT  2018.0    3.0  24.0
3272             NaT               NaT     NaN    NaN   NaN
3303             NaT               NaT     NaN    NaN   NaN
3360             NaT               NaT     NaN    NaN   NaN
3469             NaT               NaT     NaN    NaN   NaN
3634             NaT               NaT     NaN    NaN   NaN
4069             NaT               NaT     NaN    NaN   NaN
5020      2018-04-28               NaT  2018.0    4.0  28.0
5082             NaT               NaT     NaN    NaN   NaN
5139      2018-07-28               NaT  2018.0    7.0  28.0
5338             NaT               NaT     NaN    NaN   NaN
5340             NaT               NaT     NaN    NaN   NaN
5348             NaT               NaT     NaN    NaN   NaN
5389             NaT               NaT     NaN    NaN   NaN
5412             NaT               NaT     NaN    NaN   NaN
5425             NaT               NaT     NaN    NaN   NaN
...              ...               ...     ...    ...   ...
31583     2018-05-13               NaT  2018.0    5.0  13.0
31584     2018-07-15               NaT  2018.0    7.0  15.0
31609            NaT               NaT     NaN    NaN   NaN
31697     2018-01-21               NaT  2018.0    1.0  21.0
31750     2018-02-17               NaT  2018.0    2.0  17.0
31906     2018-06-27               NaT  2018.0    6.0  27.0
32158            NaT               NaT     NaN    NaN   NaN
32172            NaT               NaT     NaN    NaN   NaN
33637     2018-04-23               NaT  2018.0    4.0  23.0
33781     2018-07-18               NaT  2018.0    7.0  18.0
33987            NaT               NaT     NaN    NaN   NaN
34100            NaT               NaT     NaN    NaN   NaN
34153            NaT               NaT     NaN    NaN   NaN
34176            NaT               NaT     NaN    NaN   NaN
34182            NaT               NaT     NaN    NaN   NaN
34342            NaT               NaT     NaN    NaN   NaN
35001     2018-05-25               NaT  2018.0    5.0  25.0
35940     2018-02-28               NaT  2018.0    2.0  28.0
35943     2018-05-18               NaT  2018.0    5.0  18.0
35986     2018-02-25               NaT  2018.0    2.0  25.0
36023     2018-04-23               NaT  2018.0    4.0  23.0
36032            NaT               NaT     NaN    NaN   NaN
36152            NaT               NaT     NaN    NaN   NaN
37754            NaT               NaT     NaN    NaN   NaN
37952     2018-01-15               NaT  2018.0    1.0  15.0
37992     2018-05-14               NaT  2018.0    5.0  14.0
38021     2018-02-23               NaT  2018.0    2.0  23.0
38093            NaT               NaT     NaN    NaN   NaN
38153            NaT               NaT     NaN    NaN   NaN
38297            NaT               NaT     NaN    NaN   NaN

[211 rows x 5 columns]

In [11]:
# # way2
# null_df['departure_date'] = pd.to_datetime(null_df['departure_date'], format='%Y-%d-%m', errors='coerce')

# null_df['year'] = pd.DatetimeIndex(null_df['departure_date']).year
# # null_df['month'] = pd.DatetimeIndex(null_df['departure_date']).month
# # null_df['day'] = pd.DatetimeIndex(null_df['departure_date']).day

# null_df

      departure_date wrong_format_date    year
856       2018-03-22               NaT  2018.0
923       2018-03-25               NaT  2018.0
931       2018-06-26               NaT  2018.0
947       2018-06-23               NaT  2018.0
984       2018-02-14               NaT  2018.0
1028      2018-03-16               NaT  2018.0
1286             NaT               NaT     NaN
1299             NaT               NaT     NaN
1357             NaT               NaT     NaN
1387             NaT               NaT     NaN
3036      2018-06-28               NaT  2018.0
3043      2018-05-14               NaT  2018.0
3120      2018-05-26               NaT  2018.0
3142      2018-06-27               NaT  2018.0
3233      2018-03-24               NaT  2018.0
3272             NaT               NaT     NaN
3303             NaT               NaT     NaN
3360             NaT               NaT     NaN
3469             NaT               NaT     NaN
3634             NaT               NaT     NaN
4069             NaT               NaT     NaN
5020      2018-04-28               NaT  2018.0
5082             NaT               NaT     NaN
5139      2018-07-28               NaT  2018.0
5338             NaT               NaT     NaN
5340             NaT               NaT     NaN
5348             NaT               NaT     NaN
5389             NaT               NaT     NaN
5412             NaT               NaT     NaN
5425             NaT               NaT     NaN
...              ...               ...     ...
31583     2018-05-13               NaT  2018.0
31584     2018-07-15               NaT  2018.0
31609            NaT               NaT     NaN
31697     2018-01-21               NaT  2018.0
31750     2018-02-17               NaT  2018.0
31906     2018-06-27               NaT  2018.0
32158            NaT               NaT     NaN
32172            NaT               NaT     NaN
33637     2018-04-23               NaT  2018.0
33781     2018-07-18               NaT  2018.0
33987            NaT               NaT     NaN
34100            NaT               NaT     NaN
34153            NaT               NaT     NaN
34176            NaT               NaT     NaN
34182            NaT               NaT     NaN
34342            NaT               NaT     NaN
35001     2018-05-25               NaT  2018.0
35940     2018-02-28               NaT  2018.0
35943     2018-05-18               NaT  2018.0
35986     2018-02-25               NaT  2018.0
36023     2018-04-23               NaT  2018.0
36032            NaT               NaT     NaN
36152            NaT               NaT     NaN
37754            NaT               NaT     NaN
37952     2018-01-15               NaT  2018.0
37992     2018-05-14               NaT  2018.0
38021     2018-02-23               NaT  2018.0
38093            NaT               NaT     NaN
38153            NaT               NaT     NaN
38297            NaT               NaT     NaN

[211 rows x 3 columns]

In [ ]:
# # way3
# null_df['departure_date'] = pd.to_datetime(null_df['departure_date'], format='%Y-%d-%m', errors='coerce')

# null_df['year'] = null_df.departure_date.dt.year
# null_df['month'] = null_df.departure_date.dt.month
# null_df['day'] = null_df.departure_date.dt.day

# null_df