In [ ]:
# import xml.etree.ElementTree as ET
# tree = ET.parse('/Users/eileen/Desktop/u/5196_data_wrangling/Assignments/A3/29286875/real_state.xml')
# root = tree.getroot()
# print root
# dic={}
# for i in root.iter('TeamData'):
#     dic[i.attrib['Ref']]=[j.text for j in i]
# print dic

In [1]:
# from bs4 import BeautifulSoup
# import re
import pandas as pd
import xml.etree.ElementTree as ET
tree = ET.parse('/Users/eileen/Desktop/u/5196_data_wrangling/Assignments/A3/29286875/real_state.xml')
root = tree.getroot()

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [17]:
for each in root:
    print("Tag >>", each.tag, ";Attribute >>", each.attrib)

Tag >> bathrooms ;Attribute >> {'type': 'dict'}
Tag >> price ;Attribute >> {'type': 'dict'}
Tag >> bedrooms ;Attribute >> {'type': 'dict'}
Tag >> parking_space ;Attribute >> {'type': 'dict'}
Tag >> year ;Attribute >> {'type': 'dict'}
Tag >> lat ;Attribute >> {'type': 'dict'}
Tag >> lng ;Attribute >> {'type': 'dict'}
Tag >> property_type ;Attribute >> {'type': 'dict'}
Tag >> addr_street ;Attribute >> {'type': 'dict'}
Tag >> property_id ;Attribute >> {'type': 'dict'}

In [44]:
dict = {}
column_list = []
for each in root:
    for tags in root.findall(each.tag):
#         print(tags)
        column_list.append(each.tag)
        for each_id in tags:
#             print(each_id)
            if each_id.tag in dict:
                value = dict[each_id.tag]
                value.append(each_id.text)
            else:
                dict[each_id.tag] = [each_id.text] # key:value

In [39]:
# value

In [41]:
# dict

In [52]:
# convert dictionary to dataframe (orient means the "orientation" of the data)
df = pd.DataFrame.from_dict(dict, orient='index')

# rename the columns
df.columns = column_list

# reorder the columns
df = df[['property_id', 'lat', 'lng', 'addr_street', 'price', 'property_type', 'year', 'bedrooms', 'bathrooms', 'parking_space']]

# display the dataframe
df.head()

,property_id,lat,lng,addr_street,price,property_type,year,bedrooms,bathrooms,parking_space
n59722,59722.0,-37.806008,145.190223,256 Mitcham Road,9720000.0,house,2015.0,3.0,2.0,1.0
n36584,36584.0,-37.6644516,145.0268707,82 Curtin Avenue,2880000.0,house,2008.0,3.0,1.0,1.0
n61457,61457.0,-37.803953,145.231745,1a Hobart Street,10480000.0,house,2011.0,4.0,2.0,2.0
n27884,27884.0,-37.59357452,144.9277496,9 Bank Street,2808000.0,house,2009.0,3.0,2.0,3.0
n9079,9079.0,-37.888038,144.758115,43 William McPherson Crescent,4785000.0,house,2013.0,3.0,2.0,2.0

In [17]:
# xml = '/Users/eileen/Desktop/u/5196_data_wrangling/Assignments/A3/29286875/real_state.xml'

In [68]:
# bsobj = BeautifulSoup(xml, "lxml")
# for link in bsobj.find("div", {"id": "bodyContent"}).findAll("n", href=re.compile("^(/wiki/)((?!:).)*$")):
#     if 'href' in link.attrs:
#         print(link.attrs['href'])

In [70]:
# # 只抓一個 id 的值
# infile = open(xml, 'r')
# soup = BeautifulSoup(infile, 'xml')
# property_id = soup.find_all(re.compile('^n[0-9]*'))
# print(property_id)

In [71]:
# infile = open(xml, 'r')
# # contents = infile.read()
# # print(contents)
# soup = BeautifulSoup(infile, 'xml')
# property_id = soup.find_all('property_id')
# print(property_id)
# # type(property_id)
# # print(type(infile))
# # print(type(property_id))

# for each in property_id:
# #     print(each.get_text().strip())
#     print(each)
# #     print(each.text.strip())
# #     print(type(each.get_text()))
# #     print(each.get_text())

In [9]:
# def xml_to_df(xml_doc, target_name):
#     file = open(xml_doc, 'r')
#     contents = infile.read()
#     soup = BeautifulSoup(contents, 'xml')
#     target = soup.find_all(target_name)
#     a_list = []
#     for each in target:
#         a_list.append(each.get_text())
#     return a_list

In [72]:
# bathrooms_list = xml_to_df(xml, 'bathrooms')
# bathrooms_list