# Tutorial 1A Getting started 

<br>

![](http://i2.wp.com/www.fantasticmaps.com/wp-content/uploads/2013/03/World_Of_Ice_And_Fire.jpg)

--------------------

# The Jupyter Notebook

The Jupyter notebook is a valuable tool for data science. The ability to run code as well as document and add diagrams with Markdown, makes it an 'all-in-one' solution to doing analyses and communicating your findings.

we are going to run through a few of the features of the notebook and Markdown. It is not a comprehensive discussion of the features at all. But hopefully it will give you enough of a taste so you will consider it worthwile researching further.

-------------

# 1. Some Basic Notebook Shortcut Keys

There are two 'modes' in the Jupyter Notebook. 

- Hit the 'esc' key for **command mode**, the cell border will turn blue
- Hit the 'return' key for **edit mode**, cell border turns green

Command mode lets us talk to the Notebook, edit mode is where we write code in the cell.

Finally
- Hit 'shift' +'return' to run the code. They are side by side on the right of the keyboard. 

## In command mode (blue border)

Key|Function
--|--
b|create cell below
a|create cell above
x|cut cell
v|paste cell
m|change to markdown cell
y|change to code cell
l|line numbers

## Most importantly

If you hit the 'esc' key to go into command mode and hit 'h', you will bring up a help page with all the shortcuts.

# 2. Markdown

Markdown is how you can write text, create links, show images and videos.
Markdown is ironically a mark-up language. You might know of other mark-up languages like HTML, where a small number of character combinations are used to indicate formatting of the text.

Markdown's set of formatting characters are quite unobtrusive and take little effort to write and don't get in the way of reading it, even in it's raw (unformatted) state.

## Headings

the '#' key will create headings, with '#' being the biggest up to '######' being the smallest.

## Bullet points 

the '-' will create a bullet point

- Bread
- Milk
- Butter
- Cheese

### Numbered lists

Replace the '-' with numbers (they numbers don't have to be in order), to get a numbered list

1. Learn Data Science
2. Do Analysis
3. Profit!

### Links and images

Creating links is done with the `[]()` combination. Place the URL in the round brackets and the link text in the square brackets. 

[Markdown Cheatsheet](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf) 

Images uses the same combination with an exclamation mark in front `![]()`

#### markdown link
[TryToConnect](http://w2.goodtv.org/studio_classroom/?d=2018-02-08)

![here is a pic](http://slatestarcodex.com/blog_images/hit_angel.png)

There are many other tricks with markdown in the Jupyter Notebook as well as Notebook Magics. Look online at the Jupyter Notebook documentation.

# 3. Pandas basics

First you need to import the pandas library, not the bamboo eating bear... 'Panel Data'

In [5]:
import pandas as pd

Let's import the UFO sightings dataset

In [8]:
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head(n=10) #show n rows; default 5

                   City Colors Reported Shape Reported State              Time
0                Ithaca             NaN       TRIANGLE    NY    6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ   6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO   2/15/1931 14:00
3               Abilene             NaN           DISK    KS    6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY   4/18/1933 19:00
5           Valley City             NaN           DISK    ND   9/15/1934 15:30
6           Crater Lake             NaN         CIRCLE    CA    6/15/1935 0:00
7                  Alma             NaN           DISK    MI    7/15/1936 0:00
8               Eklutna             NaN          CIGAR    AK  10/15/1936 17:00
9               Hubbard             NaN       CYLINDER    OR    6/15/1937 0:00

Learn how to properly indexing columns and rows will speed up you coding process. 

Check [here](http://pandas.pydata.org/pandas-docs/stable/indexing.html).

In [14]:
ufo['City'].head()

0                  Ithaca
1             Willingboro
2                 Holyoke
3                 Abilene
4    New York Worlds Fair
Name: City, dtype: object

In [17]:
ufo.City.head()

0                  Ithaca
1             Willingboro
2                 Holyoke
3                 Abilene
4    New York Worlds Fair
Name: City, dtype: object

In [18]:
ufo[['City','State']].head()

                   City State
0                Ithaca    NY
1           Willingboro    NJ
2               Holyoke    CO
3               Abilene    KS
4  New York Worlds Fair    NY

In [24]:
ufo.loc[:,'City':'Shape Reported'].head()
#1:4 from 1 to 4

                   City Colors Reported Shape Reported
0                Ithaca             NaN       TRIANGLE
1           Willingboro             NaN          OTHER
2               Holyoke             NaN           OVAL
3               Abilene             NaN           DISK
4  New York Worlds Fair             NaN          LIGHT

In [28]:
# ??? Boolean list with the same length as the row axis
ufo.loc[[False, True, True]]

          City Colors Reported Shape Reported State             Time
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [20]:
ufo.iloc[1:6,2:6] #not sure 2:6

  Shape Reported State             Time
1          OTHER    NJ  6/30/1930 20:00
2           OVAL    CO  2/15/1931 14:00
3           DISK    KS   6/1/1931 13:00
4          LIGHT    NY  4/18/1933 19:00
5           DISK    ND  9/15/1934 15:30

In [ ]:
ufo.City=='Ithaca'

In [ ]:
ufo.City[ufo.City=='Ithaca']

In [ ]:
ufo[['City','State']][ufo.City=='Ithaca']


## Now try importing and indexing yourself 

Can you import this dataset and find out which country has the highest beer consumption per person?

http://apps.who.int/gho/athena/data/xmart.csv?target=GHO/SA_0000001400&profile=crosstable&filter=COUNTRY:*;YEAR:2012&x-sideaxis=COUNTRY;DATASOURCE;ALCOHOLTYPE&x-topaxis=GHO;YEAR

The dataset is from WHO:
http://apps.who.int/gho/data/node.main.A1026?lang=en

In [ ]:
Alcohol = pd.read_csv('http://apps.who.int/gho/athena/data/xmart.csv?target=GHO/SA_0000001400&profile=crosstable&filter=COUNTRY:*;YEAR:2012&x-sideaxis=COUNTRY;DATASOURCE;ALCOHOLTYPE&x-topaxis=GHO;YEAR',skiprows=1)
Alcohol.head(10)

In [ ]:
Alcohol[Alcohol['Beverage Types']=="Beer"].head()

Why it didn't work ? 

There are white spaces in some of columns !

In [ ]:
Alcohol[Alcohol['Beverage Types']==" Beer"].sort_values([" 2012"])

# 4. The way of using Pandas

First, a couple of rows have missing city data that I'll drop to simplify what we're doing.

In [ ]:
ufo[10:20]

In [ ]:
ufo.dropna(axis = 0,inplace = True,how = 'any')
ufo[10:20]

In [ ]:
ufo.reset_index(inplace= True)
ufo[10:20]

### Creating a new column

I want to create a column with the combined City and State place names, I'll create a column called 'place' with an empty string in every row. This isn't absolutely necessary when using proper Pandas methods but for the demonstration it will make it more straight forward.

In [ ]:
ufo['place'] = ''
ufo.head()

## Timing it
The Notebook magic %%timeit will run the cell 1000 times and get the 3 quickest times.

In [ ]:
%%timeit

# Using proper Pandas whole series operations
ufo['place'] = ufo['City'] + ', ' + ufo['State']

In [ ]:
ufo.head()

Do it again

In [ ]:
ufo['place'] = ''
ufo.head()

In [ ]:
ufo.index

In [ ]:
ufo.iloc[0,0]

In [ ]:
%%timeit

# Using a for loop to create each entry in turn
for i in ufo.index:
    ufo.iloc[i,6] = ufo.iloc[i,1] + ', ' + ufo.iloc[i,4]

In [ ]:
ufo.head()


### Now you see the difference 0.0009 s vs 1.79 s !!!! (The running time may vary on different computers!)

Pandas is based on numpy arrays, so try everything you can to aviod iterating over rows.

# Readable Juptyer notebook with Python code

### Readability counts!!!

As a data scientist you are communicating your insights to others. The reader may not be primarily a programmer. They may work in another language and they may not be a machine learning practitioner. This is why readability is important.

We use Python and the Jupyter notebook because they enhance **readability** and your ability to clearly explain your insights. It is important to **put yourself** in the position of **your reader**. You should explain your process so they don't have to spend too long working out what you have done and why.

Interestingly, there are a few good programming concepts that conflict with this readability.

One is the practice of defining lots of variables and functions at the start of the script. While this makes sense from a code development point of view because there is one place to change a value that might be used throughout the script. But from the point of view of the reader, it means they have to remember what the value of that variable is until it is used, maybe dozens of lines further down in the script. As well as defining the variables in the same section as the code, meaningful variable names will help the reader follow your process. Also do not save many useless dataframes, which confuses your reader and make your code slow too.

Another area to consider carefully is not try to amaze your reader with complicated solutions. Think twice when you are writing functions or even classes to perform actions. Simple is better than complex, and complex is better than complicated. Sometimes complex solutions can't be avoided because the problem is complex but consider if a step-by-step procedural approach might be clearer for the reader than an object oriented approach. Again, if you do define functions, defining them just before you use them will be easier on your reader than defining all functions at the start or the end of the script and making them remember how the function operates. 

On that same topic. Try to use the built in functions of the major libraries rather than writing your own. It is difficult to write code as an individual that is as optimised and versatile as the group that has developed the library. Many open source projects have hundreds of contributors and reviewers. Remember, "Many eyes make all bugs shallow". Take advantage of the work the community has done writing documentation and having a consistent interface. Scikit Learn is a great example of this. There is also the possibility that your reader might be familiar with the built in functions of the library you are using and will therefore understand what you are doing with less effort than if you create your own way to do the same task.

<br>


![](http://images-cdn.moviepilot.com/images/c_fill,h_630,w_1200/t_mp_quality/qlcekpbawgphnvalmzer/game-of-thrones-and-melisandre-let-s-talk-about-necklaces-949671.jpg)

One more thing: **"beautiful is better than ugly"**. Use headings and sub-headings in the Markdown cells and an introduction to guide your reader. Do not put all your code in one cell. A cell should be a self-contained function unit. 

Some additional informaiton: it is a good practice to structure your notebook, such as: 

* Introduction
* Notes on Data source, output data, versions of your program etc. 
* Data preparation steps
* Analysis (possibly with visualisation of the results)
* Discussion 
* Conclusions


# Home work 

Please go though those videos !!!! 

https://www.youtube.com/channel/UCnVzApLJE2ljPZSeQylSEyg